body{
  color:rgb(0, 0, 0);
  /* margin-top:10px;
  margin-bottom:100px;
  margin-right:0px;
  margin-left:0px;
  margin:0; */
}

.icon img{
  /* background-color:pink; */
  width:400px;
  height:400px;
  margin-left:auto;
  margin-right:auto;
  display:flex;
  align-items:center;
}

.info h1{
  font-weight:normal;
  font-size:40px;
  margin:50; 
}
